CompileFlags:
  Add:
    - -D__INTERRUPT=
    - -D__attribute__(x)=
    - -Iplatform/Startup
    - -Iplatform/APP/include
    - -Iplatform/Profile/include
    - -Iplatform/StdPeriphDriver/inc
    - -Iplatform/HAL/include
    - -Iplatform/Ld
    - -Iplatform/LIB
    - -Iplatform/RVMSIS
    - -Iplatform/Bind
    - -DDEBUG=0
    - -D__GNUC__=12
    - -D__GNUC_MINOR__=0
    - -D__GNUC_PATCHLEVEL__=0
    - -D__riscv
    - -D__riscv_xlen=32
    - -include
    - stdint.h
    - -include
    - CH58x_pwm.h
    - -include
    - CH585SFR.h
    - -include
    - core_riscv.h
    - -include
    - CH58xBLE_LIB.h
    - "-Wno-pointer-to-int-cast"
    - "-Wno-int-to-pointer-cast"

  Remove:
    - -march=*
    - -mabi=*
    - -mcmodel=*
    - -msmall-data-limit=*
    - -mno-save-restore
    - --param=*

Diagnostics:
  UnusedIncludes: None
